
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/**About Page**/
/**Navigation**/
a:hover{
  text-decoration: underline;
}
header{
  background: rgb(10, 54, 65 );
  color: white;
  position: static;
}

.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  margin: 0px 10px;
}
nav{
  display: block;
  position: static;
}
.menu-icon, #menu-checkbox{
  display: none;
}
nav a{
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  color: white;
}
.nav-container-part2{
  display: flex;
  gap: 10px ;
  align-items: center;
}
.nav-searchbox{
  border-radius: 10px;
  align-items: center;
  position: relative;
}

.nav-searchbox > input{
  height: 20px;
  border-radius:10px ;
  font-size: 10px;
  padding-left: 20px;
}
.nav-searchbox > i{
  position:absolute;
  padding-left: 6px;
  padding-top: 6px;
  font-size: 13px;
  text-align: center;
  color: black;
}

.content{
  position: absolute;
  top: 10%;
  left: 86%;
  transform: translate(-50%, -50%);
}
.cart-icon{
  cursor: pointer;
}
.cart-icon:hover{
  color: red;
}
#cart-checkbox{
  display: none;
}
.content{
  visibility: hidden;
  width: 300px;
  height: auto;
  background: white;
  padding: 30px 35px 40px;  
  box-sizing: border-box;
  border-radius: 5px;
}
#temp{
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 25px;
  background: white;
  padding: 3px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
}
#cart-checkbox:checked~.content{
  opacity: 1;
  visibility: visible;
}
.content > p{
  color: black;
  font-size: 25px;
}

/**about main-text**/

.about-rainydays{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-container-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0px;
}
.rd-logo {
  max-width: 350px;
  margin: 15px 60px 38px;
}
.about-rainydays{
  width: 400px;
}
.about-rainydays .center-description{
  margin: 10px;
  font-size: 16px; 
}
.center-description {
  padding: 7px;
}
button{
  width: 100px;
}

/**about main-image**/

.about-images{
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2,0fr);
  gap: .5em;
  margin-right: 35px;
}
.jacket{
  width: 240px;
  object-fit: cover;
  object-position: center;
}
.redjacket, .leatherjacket{
  height: 250px;
}
.rainjacket, .winterjackets{
  height: 180px;
  
}
.rainjacket{
  grid-column: 2;
  grid-row:1;
}
.redjacket{
  grid-column: 1;
  grid-row:1/3;
}
.leatherjacket{
  grid-column: 2;
  grid-row:2/3;
}
.winterjackets{
  grid-column: 1;
  grid-row:2;
  align-self: end;
}

/**message us**/

.message-us{
  background-color: rgb(10, 54, 65, 18%);
  margin-top: 20px;
}
.message-us-container{
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}
.box-1 h1{
  font-size: 30px;
}
.box-1 p{
  font-size: 10px;
}
.box-2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
}
.box-2 p{
  width: 300px;
  font-size: 10px;
  margin-left: 2px;
}
.box-2 input{
  height: 30px;
  width: 200px;
}
.box-2 button{
  margin: 0px;
  background-color: rgb(10, 54, 65 );
  color: white;
  border: 0px;
  border-radius: 3px;
  height: 30px;
}

/**social media **/

.SM-box3{
cursor: pointer;
display: flex;
flex-direction: column;
}
.social-media{
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-between;
  margin: 10px 10px 5px;
}
.social-media h3{
  font-size: 15px;
}
.social-media a, .social-media p{
  font-size: 12px;
  padding: 1px;
  text-decoration: none;
  color: black;
}

/**footer**/

footer{
  background-color:  rgb(10, 54, 65 );
  color: white;
  height: 40px;
  text-align: center;
  padding: 10px;
}

/**HOME page**/

/**top-section**/
.top-section{
  background-image: url("../images/jackets/istockphoto-904659086-170667a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 220px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;  
}
/**blur background**/

.blur{
  width: 350px;
  height: 270px; 
  backdrop-filter: blur(3px);  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-section-text p{
  font-size: 20px;
}
.top-section-text h1{
  margin: 10px;
  font-size: 100px;
  -webkit-text-stroke: 1px rgb(10 54 65);
}
.top-section-text h2{
  text-align: center;
}

/**button**/

.cta, .selection button, .contact-top button, .jacket-button{
  background-color: rgb(10, 54, 65 );
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  color: white;
  width: 100px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
select{
  background-color: grey;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  width: 100px;
  font-size: 12px;
  text-align: center;
}

/**categories-container**/

.categories-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 300px;
  align-items: center;
  margin: 60px 0px;
}
.categories-container img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.summer img{
  object-position: top;
}
.categories-container p{
  text-transform:uppercase;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 0px;
  text-align: center;
}
.categories-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-container .cta, .top-section .cta, .bottom-section .cta, .bonus-section .cta {
  width: 175px;
  border-radius: 20px;
  font-size: 20px;
}
/**bottom-section**/

.bottom-section{
  background-image: url("../Images/jackets/HIKING.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  padding: 150px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bottom-section-text p{
  font-size: 15px;
  text-align: center;
}
.bonus-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  padding-top: 130px;
  padding-bottom: 130px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.new{
  background-image: url("../images/jackets/new_arrivals.jpg");
}
.sale{
  background-image: url("../Images/jackets/sale.webp");
}
.new-text, .sale-text{
  height: 150px;
  width: 200px;
}
.bottom-section h2, .bonus-section h2{
  font-size: 25px;
}
.sale-p, .gender{
  color: red;
}


/**Product page**/

.top-product{
  text-align: center;
  margin-bottom: 2px;
}
.top-product a{
  text-decoration: none;
}
.winter-jacket{
  background-image: url("../images/jackets/WINTER\ RED.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  padding: 250px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.categories-circle img{
  height: 110px;
  width: 109px;
  border-radius: 70%;
}
.categories-circle, .flex, .categories-circle-part2 > span{
display: flex;
gap: 12px
}

.flex div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 3px;
}

.categories-circle button{
  color: white;
  background: rgb(10, 54, 65 );
  border-radius: 20px;
}

.add-to-cart img{
  height: 400px;
  width: 350px;
}
.main-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 15px;
}
.main-product *{
  text-align: center;
  padding: 5px;
}
.main-product .product-text{
  color: rgb(10, 54, 65 );
  font-size: 25px;
}
.gender{
  text-decoration: underline;
  font-weight: bold;
  font-size: 40px;
}
.breadcrumbs{
  text-decoration: underline;
  font-style: italic;
}
a:hover{
  text-decoration: underline;
  color: red;
}
.product-text > a{
  text-decoration: none;
  color: rgb(10, 54, 65 );
}

/**contact page**/

.contact-top{
  background-image: url("../Images/jackets/istockphoto-905996500-612x612.jpg");
  padding: 115px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-top div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-left: 10px;
}
.contact-top h2{
  width: 250px;
  font-size: 30px;
  padding: 5px 5px;
  border-radius: 5%;
  background: rgba(10, 54, 65, 0.432);
  color: white;
}
.contact-top h1{
  font-size: 80px;
  color: white;
  -webkit-text-stroke: 2px rgb(10, 54, 65 );
}
.contact-top a{
  position: absolute;
  top: 250px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 1px rgb(10, 54, 65 );
}
.contact-bottom{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.address-map img{
  height: 150px;
  width: 150px;
}
.bottom-box2 .day-time{
  display: flex;
  gap:10px;
}
.bottom-box3 .logo{
  display: flex;
  flex-direction: column;
  height: 110px;
  flex-wrap: wrap;
}
.logo img{
  height: 40px;
  width: 50px;
  margin-left: 5px;
  object-fit: contain;
}
.see-more-state{
  display: none;
}

/**jacket page**/

.link{
 color: black;
 font-size: 12px;
}
.breadcrumbs2{
  display: flex;
  list-style: none;
}
.breadcrumbs2 .breadcrumb_item:not(:last-child) * {
  text-decoration: underline;
}
.breadcrumb_item::after{
  content: "/";
}
.breadcrumb_item:last-child:after{
  display: none;
}
.colors *, .size-men *{
  margin: 10px;
  height: 50px;
  width: 76px;
  border: 3px solid;
  text-align: center;
  padding: 10px;
  display: inline-block;
}
.blue{
  background-color: blue;
  color: white;
}
.red{
  background-color: red;
  color: white;
}
.yellow{
  background-color: yellow;
  color:black;
  border: yellow;
}
.black{
  background-color: black;
  color: white;
}
.jacket-page{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.description-jacket{
  display: flex;
  flex-direction: column;
}
.headings *, .color-class *{
  margin-top: 10px;
}
.description-paragraph{
  width: auto;
  text-align: justify;
  margin: 20px;
  font-size: 20px;
}
@media (min-width: 370px) and (max-width: 700px){
  
  /**navigation**/
  nav,
  #menu-checkbox {
    display: none;
  }
  #menu-checkbox:checked ~ nav{
    display: block;
  }
  .nav-container{
    position: relative;
  }
  nav {
    position: absolute;
    background: rgb(10, 54, 65 );
    left:0px;
  }
  nav a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
  }
  .menu-icon{
    display: inline;
  }

  /** horizontal scroll **/

  .categories-container{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 1900px;
   margin: 20px 0px;
  }
  .categories-container img{
    height: 350px;
    width: 350px;
  }

  .categories-circle, .flex, .categories-circle-part2 > span{
    gap: 0px
  }

  /**home page**/

.top-section{
  margin-bottom: 0px;
}
 .home-page h2{
  font-size: 20px;
}
.bottom-section p{
  font-size: 12px;
}
.top-section-text h1{
  font-size: 70px;
}
.blur{
  width: 300px;
  height: 200px; 
}
.bonus-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/**product page**/
.add-to-cart img{
  height: 200px;
  width: 150px;
}
.add-to-cart .selection, .add-to-cart button{
  width: 100px;
  font-size: 12px;
}
.product-text h3{
  font-size: 15px;
}
.product-text p{
  font-size: 12px;
}
.main-product > div{
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 200px;
}
/**about page**/

.about-page .about-rainydays .center-description{
  margin: 16px 6px;
  font-size: 16px;
}
.center-description p{
  margin-bottom: 5px;
}
.about-page footer{
  margin-top: 20px;
}
.about-page .about-rainydays{
  width: auto;
  margin: 32px 0px;
}
.about-images{
  display: none;
}
.rd-logo{
  margin: 1px 0px;
}

/**contact page**/

.contact-top{
  background-image: url(../Images/jackets/istockphoto-905996500-612x612\ -\ small.jpg);
  background-position: center;
  padding: 120px 0px;
}

/**bottom section**/

.social-media div{
 margin-left: 20px;
}
.social-media {
  display: flex;
  flex-direction: row;
  height: 90px;
  margin: 0px;
}
.message-us{
  width: auto;
}
.box-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 .box-2 input{
  width: 160px;
}
.box-2 button{
  margin: 3px 0px;
  width: 60px;
}
.box-2 p{
  width: auto;
}
.contact-top div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-top h1{
  font-size: 30px;
}
.contact-top h2{
  font-size: 20px;
  width: 152px;
}
.contact-top a{
  position: unset;
  top: 130px;
  font-size: 11px;  
  -webkit-text-stroke: 0px white;
  color: white;
}
.contact-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-bottom div{
  margin-bottom: 20px;
}
.address-map img{
  margin-top: 10px;
  height: 200px;
  width: 200px;
}
.content{
  width: 185px;
  top: 74px;
  left: 75%;
}
.content > p{
  font-size: 15px;
}
footer{
  margin-top: 10px;
}

/**product categories**/
.categories-circle{
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}
.see-more-target{
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.see-more-state:checked ~ .categories-circle .see-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  display: flex;
  flex-wrap: wrap;
}
.see-more-state ~ .see-more-trigger:before {
  content: 'show more';
}
.see-more-state:checked ~ .see-more-trigger:before {
  content: 'show less';
}
.see-more-trigger{
  display: flex;
  padding: 0 0.5em;
  color: white;
  font-size: 12px;
  line-height: 2;
  border-radius: 5px;
  width: 75px;
  background: rgb(10, 54, 65 );
  margin-left: 5px;
  height: 20px;
}

.see-more-trigger:hover{
  text-decoration: underline;
  cursor: pointer;
}

/**jacket page**/

.image-jacket img{
  width: 350px;
}
.jacket-page{
  flex-direction: column;
}

.social-media{
  margin: 15px 0px;
}
}